user_pref("network.proxy.ftp", "{{proxy_ip}}");
user_pref("network.proxy.ftp_port", {{proxy_port}});
user_pref("network.proxy.http", "{{proxy_ip}}");
user_pref("network.proxy.http_port", {{proxy_port}});
user_pref("network.proxy.socks",  "{{proxy_ip}}");
user_pref("network.proxy.socks_port", {{proxy_port}});
user_pref("network.proxy.ssl", "{{proxy_ip}}");
user_pref("network.proxy.ssl_port", {{proxy_port}});
user_pref("network.proxy.type", 1);
